body {
    font-family: 'Nasalization', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #C0C0C0;  /* Silver-like color for a moonbase feel */
    background-color: transparent;
    text-transform: uppercase;  /* All text in uppercase */
}

.progress-container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 50%;
}

.progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-ring__circle, .progress-ring__value {
    stroke-linecap: round;
}

.progress-ring__value {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time, .score {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.play-btn, .reset-btn {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 5px;
    transition: color 0.3s ease;
}

.play-btn:hover, .reset-btn:hover {
    color: #808080;  /* Gray for hover effect */
}

.icons-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.reset-score {
    margin-top: 20px;
    text-align: center;
}

.reset-score-text {
    font-size: 1.2em;
    color: #C0C0C0;  /* Silver-like color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.reset-score-text:hover {
    color: #808080;  /* Gray for hover effect */
}

.auth-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.register, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-score-btn {
    margin-top: 20px;
    font-size: 1.2em;
    color: #C0C0C0;  /* Silver-like color */
    background-color: #333333;  /* Dark gray */
    border: 2px solid #555555;  /* Lighter gray */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-score-btn:hover {
    background-color: #222222;  /* Even darker gray for hover effect */
}



input[type="text"], input[type="password"] {
    margin-bottom: 10px;
}
